*/__pycache__
/videoprojectenv
/db-20240621130846.sqlite3
**/migrations/*
!**/migrations/__init__.py
/EmmyLogo - Copy.png
/EmmyLogo.png
/otisenv
/media
/ffmpeg
/opencv
.env
/tourvideoproject/settings.py
/venv/
**/*.log

video_processing.log

understanding.md
flow.md